@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Yrsa:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 830px;
  background: url('../img/background-image.jpg') no-repeat center / cover;
  object-fit: cover;
}

.hero-container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 112px;
}

.logo {
  width: 354px;
  height: 112px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-list-item {
  color: #09B3B0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.857px;
  list-style: none;
  cursor: pointer;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-list-item.active {
  color: #FF9F00;
}

.header-list-item.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FF9F00;
}

.promo {
  width: 100%;
  height: 150px;
  background-color: #09B3B0;
}

.promo-container {
  width: 893px;
  margin: auto;
  padding: 55px 0;
}

.promo-title {
  color: #FFF;
  text-align: center;
  font-family: 'Yrsa';
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.oracle {
  width: 100%;
  background-color: #EDF8F9;
}

.oracle-container {
  max-width: 1120px;
  margin: auto;
}

.oracle-title {
  color: #3C3935;
  text-align: center;
  font-family: 'Segoe UI';
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 144px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.oracle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.oracle-column {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 84px;
}

.oracle-column:not(:last-child) {
  margin-right: 160px;
}

.oracle-image {
  width: 86.859px;
  height: 86px;
  margin-bottom: 8px;
}

.oracle-column-title {
  color: #0099A8;
  text-align: center;
  font-family: 'Segoe UI';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  margin-bottom: 6px;
}

.oracle-column-text {
  color: #3C3935;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.7px;
  letter-spacing: 0.42px;
}

.faq {
  padding: 200px;
  text-align: center;
}

.faq-container {
  max-width: 1064px;
  margin: auto;
}

.faq-title {
  color: #09292F;
  text-align: center;
  font-family: 'Yrsa';
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1px;
  margin-bottom: 31px;
}

.faq-text {
  color: #09292F;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.857px;
  margin-bottom: 15px;
  text-align: left;
}

.faq-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-links-left {
  width: 331px;
  height: 87px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faq-link {
  color: #008080;
  font-family: 'Roboto';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.857px;
  text-decoration: none;
}

.faq-links-right {
  width: 346px;
  height: 87px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #09B3B0;
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-items: center;
}

.footer-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.logo-footer-title {
  color: #FFF;
  font-family: 'Aleo', serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.4px;
}

.logo-footer-link {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.375px;
  text-decoration: none;
}

.logo-footer-copyright {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 55px;
}

.footer-terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-terms-link {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 27px;
  position: relative;
}

.footer-terms-link::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 12px;
  background-color: #FFF;
  top: 50%;
  right: -14px;
  transform: translateY(-50%);
}

.footer-terms-link+.footer-terms-link::after {
  display: none;
}

.footer-right {
  display: flex;
  flex-direction: column;
  width: 340px;
}

.footer-right-title {
  color: #FFF;
  font-family: 'Aleo';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  margin-bottom: 19px;
}

.footer-right-links {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
  margin-bottom: 24px;
}


.footer-right-text {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.375px;
}